.flag
{
    width: 200px;
    margin: 100px auto;
}

/* orange color */
.orange
{
    width: 200px;
    height: 40px;
    background-color: #ff9933;
}

/* white */
.white
{
    width: 200px;
    height: 40px;
    background-color: #fff;
}

/* green */
.green
{
    width: 200px;
    height: 40px;
    background-color: #128807;
}

/* chakra */
